@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav{
  margin-bottom: 1rem;
}

nav a {
  position: relative;
  display: inline-block;
}

nav a:hover{
  color: #f59e0b;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #f59e0b;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: center;
}

nav a:hover::after {
  transform: scaleX(1);
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  color: red;
  font-size: 0.8rem;
}

input:not([type="checkbox"]),
select,
button {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

input:not([type="file"]),
select,
button {
  padding: 5px;
  cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus {
  border-color: #f59e0b;
  outline: 1px solid #f59e0b;
}

label {
  font-weight: bold;
  margin: 5px 0;
}

button[type="submit"] {
  background-color: #f59e0b;
  border: 1px solid #f59e0b;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: transparent;
  color: #f59e0b;
  border: 1px solid #f59e0b;
}

button[type="submit"]:disabled {
  background-color: transparent;
  color: #f59e0b;
  border: 1px solid #f59e0b;
  cursor: not-allowed;
}

table {
  border-collapse: separate;
  border-radius: 8px; 
  border: 1px solid #ccc;
  border-spacing: 0;
}

th {
  font-weight: bold;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ccc; 
}
 td{
  border:none
 }

tr:last-child td {
  border-bottom: none;
}

tr:last-child td:first-child { 
  border-bottom-left-radius: 8px;
}

tr:last-child td:last-child{
  border-bottom-right-radius: 8px;
}